.app {
    height: 100vh;
    display: flex;
    overflow: auto;
    justify-content: center;
    background-color: #e9f5f5;
}

.app .container {
    width: 1200px;
}


/* Css Page NotFound */
.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.not-found-content {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.not-found-title {
    font-size: 36px;
    margin-bottom: 8px;
    color: #ff6347;
}

.not-found-text {
    font-size: 18px;
    color: #333;
}